body,
html {
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: black;
}

.container-fluid{
    padding: 100px 0 10px 0;
}

.image-preview{
    margin-top: 100px;
    height: 350px;
    width: 500px;
}